body {
  background-color:rgb(31, 33, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
h1 {
  color:rgb(8, 247, 127);
  text-align: center;
  
}
canvas {
  border: 1px solid #000;
  background-color:rgb(8, 247, 127);
} 


@media only screen and (max-width: 600px) {
  canvas {
    width: 80vw; 
    height: 80vw; 
    max-width: 300px; 
    max-height: 300px; 
  }
  html, body {
    overflow: hidden; /* Oculta a barra de rolagem apenas em dispositivos móveis */
  }
}